﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InChurch | Dashboard</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-app="myApp">
    <div id="wrapper" ng-controller="ClienteController">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="img/inchurch.png" style="width:40%;" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"> <strong class="font-bold">InChurch</strong> </span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">

            <div class="row  border-bottom white-bg dashboard-header">


                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border-color: #ffffff !important;">
                        <h5>Bem vindo <small>ao Dashboard da InChurch</small></h5>

                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 b-r">
                                <h3 class="m-t-none m-b">Cadastro de Usuário</h3>
                                <form role="form">
                                    <div class="form-group">
                                        <label>Nome</label> <input type="text" placeholder="Adicionar nome" class="form-control" ng-model="cliente.name">
                                    </div>
                                    <div class="form-group">
                                        <label>Trabalho</label> <input type="text" placeholder="Adicionar trabalho" class="form-control" ng-model="cliente.job">
                                    </div>
                                    <input type="hidden" ng-model="cliente.id" />
                                    <div>
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" ng-click="cadastrar()">
                                            <strong>Cadastrar</strong>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-8">
                                <h4>Lista de Usuários:</h4>
                                <div class="ibox-content" style="border-color: #ffffff !important;">

                                    <table class="table table-bordered" ng-init="consultar()">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Foto</th>
                                                <th>Nome</th>
                                                <th>Sobre Nome</th>
                                                <th>Botões</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="c in clientes">
                                                <td>{{c.id}}</td>
                                                <td><img src="{{c.avatar}}" style="width:35%;" /></td>
                                                <td>{{c.first_name}}</td>
                                                <td>{{c.last_name}}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-info" type="button" ng-click="detalhe(c.id)"
                                                                href="#editar" data-toggle="modal">
                                                            Editar
                                                        </button>

                                                        <button class="btn btn-primary" type="button" ng-click="detalhe(c.id)"
                                                                href="#detalhe" data-toggle="modal">
                                                            Detalhes
                                                        </button>

                                                        <button class="btn btn-danger" type="button" ng-click="excluir(c.id)">Excluir</button>
                                                    </div>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div id="detalhe" class="modal fade" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-4 b-r">
                                                    <h3 class="m-t-none m-b">Detalhes do usuário</h3>
                                                    <div><img src="{{detalhe.avatar}}" style="width:50%;" /></div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <br />
                                                    <br />
                                                    <div class=""><label>Nome:</label> {{detalhe.first_name}}</div>
                                                    <div class=""><label>Sobre Nome:</label> {{detalhe.last_name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="editar" class="modal fade" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-6 b-r">
                                                    <h3 class="m-t-none m-b">Alterar Usuário</h3>

                                                    <p>Altere os dados abaixo.</p>

                                                    <form role="form">
                                                        <div class="form-group"><label>Nome</label> <input type="text" placeholder="Nome" class="form-control" ng-model="detalhe.name"></div>
                                                        <div class="form-group"><label>Trabalho</label> <input type="text" placeholder="Trabalho" class="form-control" ng-model="detalhe.job"></div>
                                                        <input ng-model="detalhe.id" type="hidden" />
                                                        <div>
                                                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-click="editar(detalhe)"><strong>Alterar</strong></button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h4>Dados do Usuário</h4>
                                                    <label>Nome: &nbsp;</label>{{detalhe.first_name}}<br />
                                                    <label>Sobre Nome: &nbsp;</label>{{detalhe.last_name}}<br />
                                                    <label>Foto:</label><br />
                                                    <img src="{{detalhe.avatar}}" style="width:50%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="js/codigo_angular.js"></script>

</body>
</html>
